<!DOCTYPE html> 
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="ja" />
    <title>Title Here</title>
    <link rel="stylesheet" href="/stylesheets/dummy.css" />
    <script type="text/javascript" src="/javascripts/dummy.js"></script>
  </head>
  <body>
    <%= yield %>

    <img src='/images/blank.gif' />
  </body>
</html>

